/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 14, 2017, 6:25:44 PM
    Author     : Совушка
*/

html{
    height: 100%;
}
body{
    margin: 0;
    min-width: 480px;
    max-width: 1920px;
    background-color: #000000;
    height: 100%;
}
#firlayer{
    margin: 0 auto;
    height: 100%;
    width: 1150px;    
}
#ldi{
    
}
#lside{
    background-color: #222222;
    float: left;
    width: 17.3%;
    height: 100%;
    padding: 15px 15px 0 15px;
    
}
.alignimg{
    width: 100%;
    text-align: center;    
}
#lgoimg{
    width: 100%;
    height: 28px;
    margin-bottom: 10px;
}
#allivents{
    margin: 5px 0;
    color: #cc3333
}
a{
    text-decoration: none;
}
#lside a{
    color: white;   
    font:  bold  13px/1 Arial, TimesNewRoman, SansSerif, serif;
}
#lside p{
    margin: 8px 0;
}
#lside hr{
    border-color: #565d59;
    margin: 20px 0;
}
#lside #lgrcol a{
    color: #959595;
}
form{
    width: 100%;
    height: 4.6%;
    border: 2px solid #959595;
    border-radius: 5px;
}
#d1{
    height: 100%;
    width: 78%;
    float: left;    
}
#d1 input{
    border: none;
    margin: 0;
}
#d2{
    height: 100%;
    width: 20%;
    display: inline;
    float: right;
    
}
.search{
    width: 100%;
    height: 100%;
    padding: 0 0 0 5px;
    background-color: #222222;
    color: #959595;  
    outline: none; 
    -webkit-appearance: none;
    font:  bold  13px/1 Arial, TimesNewRoman, SansSerif, serif;
    border-radius: 5px;
}
.butt{
    width: 100%;
    height: 100%;
    outline: none; 
    -webkit-appearance: none;
    border-radius: 5px;
}
#rside{
    background-color: #ffffff;
    float: right;
    width: 77.45%;
    height: 100%;
    padding: 15px 15px 0 15px;
}


